
<% @users.each do |u| %>

  <p> <%= u[:email] %> </p>
  <p> <%= u[:name] %> </p>
  <p> <%= u[:phone_numbe] %> </p>
<% end %>

<% @users.each do |u| %>

  <p> <%= u[:email] %> </p>
  <p> <%= u[:name] %> </p>
  <p> <%= u[:phone_numbe] %> </p>
<% end %>
